.panel-accordion .panel-accordion-navigation > a {
    padding: 0.2em;
}
.panel-accordion .panel-accordion-navigation > a > .name {
    font-weight: bold;
}
.panel-accordion .panel-accordion-navigation.layout > a > .name {
    color: forestgreen;
}
.panel-accordion .panel-accordion-navigation.view > a > .name {
    color: orange;
}
.panel-accordion .panel-accordion-navigation {
    background-color: transparent;
}
.panel-accordion .panel-accordion-navigation > .content {
    padding: 0.5em;
    padding-right: 0;
}
.panel-accordion-navigation.layout {
    border-left: 1px solid forestgreen;
}
.panel-accordion-navigation.view {
    border-left: 1px solid orange;
}
.panel-layout-button-bar {
    margin-left: 1.1em;
}

.structure {
    padding-top: 0.4em;
    padding-right: 1.4em;
}

/* We will probably use this part below when implementing the context displaying.

.accordion .accordion-navigation > a.comp-link {
    width: 95%;
    display: inline-block;
}
.comp-checkbox {
    width: 4%;
    padding: 0.2em;
    background: #ebebeb;
    text-align: center;
    display: inline-block;
}

.comp-checkbox input[type=checkbox] {
    padding: 0;
    margin: 0;
}*/
