.performance {
  select {
    width: 40%;
    margin-top: 1em;
  }

  #simulate, #simulateAll {
    margin-bottom: 2em;
    margin-right: 2em;
  }
  #results-table {
    width: 90%;
  }
  .result-label {
    margin-bottom: 1em;
  }
}
