<h2 class="text-center">Sidecar Debugger Tool</h2>
<hr>
<div class="features">
    <div class="row">
        <ul class="small-6 columns pricing-table radius" data-menu="#appstream">
            <li class="title">Application Stream</li>
            <li class="description">A timeline of what is happening in the app. It shows the methods that are called and the events that are triggered. For each of them, you have access to the passed arguments and the component object.</li>
        </ul>
        <ul class="small-6 columns pricing-table radius" data-menu="#perfReport">
            <li class="title">Performance reports</li>
            <li class="description">A table showing the render times and the number of renders of the components on the page</li>
        </ul>
    </div>
    <div class="row">
        <ul class="small-6 columns pricing-table radius" data-menu="#structure">
            <li class="title">Structure</li>
            <li class="description">A hierarchical tree representing the Sugar components of the current page.</li>
        </ul>
        <ul class="small-6 columns pricing-table radius" data-menu="#generate">
            <li class="title">Generate records</li>
            <li class="description">Generate Sugar records in the one click!</li>
        </ul>
    </div>
    <div class="row">
        <ul class="small-6 columns pricing-table radius" data-menu="#performance">
            <li class="title">Render times</li>
            <li class="description">Measure the render duration of the different fields to detect performance drops.</li>
        </ul>
    </div>
</div>

