<a class="selected" href="#general">Settings</a><a href="#appstream">Application Stream</a><a href="#structure">Structure</a><a href="#performance">Render times</a><a href="#generate">Generate records</a>
