<h3 class="text-center">Page structure<i class="fi-lightbulb help-button" data-action="toggleHelp"></i></h3>

<div class="panel callout radius"{{#unless displayHelp}} style="display: none;"{{/unless}} data-panel="help">
    This panel shows the hierarchical tree of the Sugar components in the current page. Hovering a component will highlight it on the page.
    The highlighting colors match the context of the components. Clicking on a component name will log the object in the console.
</div>

<div class="tabs-content">
    <div class="content active" id="layout">
        <div class="button-bar panel-layout-button-bar">
            <ul class="button-group round">
                <li><a id="expandAll" class="button tiny">Expand all</a></li>
                <li><a id="collapseAll" class="button tiny">Collapse all</a></li>
            </ul>
        <!--<a id="toggleAllCtx" href="#" class="button tiny round">Display all contexts</a>-->
        </div>
        <ul class="accordion panel-accordion" data-accordion>
        </ul>
    </div>
</div>
