<div data-role="selection">
  <label><input type="checkbox" name="toggle-app-events" checked="checked"> app events</label>
  <label><input type="checkbox" name="toggle-initialize" checked="checked"> initialize</label>
  <label><input type="checkbox" name="toggle-render" checked="checked"> render</label>
  <label><input type="checkbox" name="toggle-trigger" checked="checked"> trigger</label>
</div>
<div data-role="tablelist">
 </div>