<h2>Sidecar Debugger Tool</h2>

<form>
    <input type="checkbox" name="inject" id="inject_checkbox" /><label for="inject_checkbox">Start Sidecar Debug Mode (changing this will cause a page reload)</label><br>
</form>

<h2>Features</h2>
<ul>
    <li>$view console variable after inspecting a DOM Element (points to the closest View instance)</li>
    <li>In <strong>Elements panel</strong>, you'll find a Sugar Components sidebar which give you access to the View object corresponding to the selected DOM element as well as its parent Layouts.</li>
    <li>In this Panel, you will find:
        <ul>
            <li><strong><i>Events:</i></strong> You get a real-time list of events that are triggered, showing for each event its name and information on the Sugar component which triggered it.</li>
            <li><strong><i>Instanciated Objects :</i></strong> The list of instanciated Sugar Beans and Bean collections.</li>
            <li><strong><i>View-DOM Binding:</i></strong> The of components present on the page with their corresponding DOM element.</li>
            <li><strong><i>Sync:</i></strong></li>
            <li><strong><i>Structure:</i></strong> A hierarchical tree representing the Sugar components of the current page.</li>
        </ul>
    </li>
</ul>
