<ul>
  <li class="selected"><a href="#general">Settings</a></li>
  <li><a href="#appstream">Application Stream</a></li>
  <li><a href="#structure">Structure</a></li>
  <li><a href="#performance">Render times</a></li>
  <li><a href="#metrics">Metrics</a></li>
  <li><a href="#generate">Generate records</a></li>
</ul>
