<div class="tabs-content">
    <div class="content active" id="layout">
        <div class="button-bar panel-layout-button-bar">
            <ul class="button-group round">
                <li><a id="expandAll" class="button tiny">Expand all</a></li>
                <li><a id="collapseAll" class="button tiny">Collapse all</a></li>
            </ul>
        </div>
        <ul class="accordion panel-accordion" data-accordion>
        </ul>
    </div>
</div>
