.context-overlay{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index: 100000;
    opacity: 0.4;
}

.sdt-tooltip {
    z-index: 100000 !important;
}

.sdt-tooltip .tooltip-inner {
    text-align: left;
}